<div class="container py-5">
    <div class="card-body">
    <h3>Detalle del Usuario</h3>
    <div>
        <label for=""><b>ID: </b> {{ empleado.id }}</label>
    </div>
    <div>
        <label for=""><b>Nombre: </b> {{ empleado.nombre }}</label>
    </div>
    <div>
        <label for=""><b>Municipio: </b> {{ empleado.municipio }}</label>
    </div>
    <div>
        <label for=""><b>Localidad: </b> {{ empleado.localidad }}</label>
    </div>
    <div>
        <label for=""><b>Localidad: </b> {{ empleado.cp }}</label>
    </div>
    <div>
        <label for=""><b>Localidad: </b> {{ empleado.pais }}</label>
    </div>
    <div>
        <label for=""><b>Localidad: </b> {{ empleado.idoma }}</label>
    </div>
</div>
</div>